<%= form_for @paymentPerMonth, :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
  <%= render partial: "shared/error_message", locals: { paymentPerMonth: @paymentPerMonth } %>
  <div class="form-group">
  	<%= f.label :loan, :class => 'col-sm-4 control-label' %>
  	<div class="col-sm-4">
  		<%= f.text_field :loan, :class => 'form-control' %>
  	</div>
  </div>
  <div class="form-group">
  	<%= f.label :bonus, :class => 'col-sm-4 control-label' %>
  	<div class="col-sm-4">
  		<%= f.text_field :bonus, :class => 'form-control' %>
  	</div>
  </div>
  <div class="form-group">
  	<%= f.label :period, :class => 'col-sm-4 control-label' %>
  	<div class="col-sm-4">
  		<%= f.text_field :period, :class => 'form-control' %>
  	</div>
  </div>
  <div class="form-group">
  	<%= f.label :apy, :class => 'col-sm-4 control-label' %>
  	<div class="col-sm-4">
  		<%= f.text_field :apy, :class => 'form-control' %>
  	</div>
  </div>
  <div class="form-group">
  	<div class="col-sm-offset-4 col-sm-4">
  		<%= f.submit t('.calc'), :class => 'btn btn-default' %>
  	</div>
  </div>
  <% if @paymentPerMonth.amount != nil %>
  <div class="form-group" id="amount-group">
  	<%= f.label :amount, t('.repayment_per_month'), :class => 'col-sm-4 control-label' %>
  	<div class="col-sm-4">  
  		<p class="form-control-static"><%= @paymentPerMonth.amount %></p>
  	</div>
  </div>
  <% end %>
<% end %>